.img_solar img {
  float: right;
  width: 15%;
  height: 15%;
}
.trocaCor {
  margin-top: 5px;
  height: 265px;
  margin-bottom: 15px;
}

.trocaCor2 {
  margin: -8px;
  padding: 10px;
  color: white;
  height:265px;
  background-color: #048042;
  margin-bottom: 15px;

}
