.trocaCor {
  padding-top: 4%;
  padding-left: 12%;
  padding-right: 12%;
  margin-top: 5px;
  height: 265px;
  margin-bottom: 15px;
}

.trocaCor2 {
  margin: -8px;
  padding: 10px;
  color: white;
  height:265px;
  background-color: #048042;
  margin-bottom: 15px;
  text-align: right;
  padding-left: 12%;
  padding-right: 12%;
}

.trocaCor3 {
  margin: -8px;
  padding: 10px;
  height:395px;
  background-color: #f0f0f0;
  padding-left: 12%;
  padding-right: 12%;
}

h1 {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 15px;
}

p.a1 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

b.b1 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

p.a2 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

b.b2 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

p.a3 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

b.b3 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

p.a4.1 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

b.b4.1 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

p.a4.2 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

b.b4.2 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}

p.a5 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

b.b5 {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

#Geotermica_1 {
  float: right;
  width:40%;
  height:85%;
}

#Geotermica_2 {
  padding-top: 7px;
  float: left;
  width:40%;
  height:95%;
}
